@media (max-width:1024px) {
    .form {
        flex-direction: column !important;
    }

    .div-block-3 {
        display: none;
    }

    .section_sticky_content {
        overflow: hidden;
    }

    .mb_20 {
        margin-bottom: 20px !important;
    }

    .wrapper_image_grid {
        margin-right: 0 !important;
    }

    .item-resp-card {
        display: flex !important;
        position: relative !important;
        height: 900px !important;
        padding: 0 !important;
    }

    .background_image_resp {
        height: 400px !important;
        width: 100% !important;
        -o-object-fit: cover;
        object-fit: cover;
        background-position: center;
        background-size: cover;
    }

    .resp-overflow {
        overflow: hidden;
    }

    .frame-resp {
        display: flex !important;
        flex-direction: column !important;
    }

    .content-a-block-resp {
        position: absolute;
        width: 100vw;
        height: 500px;
        margin: 0;
        bottom: 0;
        background-color: #fff !important;
        transform: translate(0px, 0px) !important;
    }

    .color_background {
        background-image: none !important;
    }

    .resp-d-none {
        display: none;
    }

    .heading-resp {
        font-size: 18px !important;
        color: #00426A !important;
    }

    .content-resp {
        font-size: 16px !important;
        color: #00426A !important;
    }

    .content_block_resp {
        padding: 50px 30px 30px !important;
        justify-content: flex-start !important;
        align-items: center;
    }

    .color_background {
        background-image: none !important;
    }

    .pt-0 {
        padding-top: 0px !important;
    }

    .bg-igame-cont-resp {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -10%);
    }

    /* STICKY */
    .sticky-circle {
        padding-top: 0;
        overflow: visible;
        height: 560px;
    }

    .header_text {
        padding-top: 85px;
        height: 350px;
        background: #00426a;
    }

    .sticky-circle-cu {
        width: 350px !important;
        height: 560px !important;
        border-radius: 50% !important;
        overflow: visible;
    }

    .wrapper_image_resp {
        flex-direction: column !important;
        width: 45%;
    }

    .wrapper_image_resp img {
        width: 100% !important;
        height: 100% !important;
        padding: 0 !important;
    }

    .council_resp {
        display: flex !important;
        top: 60px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-left: 25px;
        margin-right: 25px;
    }

    .sticky_circle_wrap_resp {
        background: #00426A;
        height: 120rem !important;
    }

    .sticky_text_resp {
        display: flex;
        width: 80vw;
        flex-direction: column;
        top: 100px;
    }

    .stick_btn_resp {
        flex-direction: column !important;
    }

    .stick_btn_resp a {
        margin: 10px 0 !important;
    }

    .sticky_img_resp {
        width: 100%;
        height: 55rem;
    }

    .graient_n {
        width: 100%;
        background: none;
    }

    .sticky_heading_resp {
        color: #fff;
    }

    .pb-0 {
        padding-bottom: 0px !important;
    }

    .mobile_sticky_circle {
        display: block !important;
        top: 110px !important;
    }

    .camera {
        overflow: visible !important;
    }

    .track {
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .news_signup_bottom {
        width: 100% !important;
        height: auto !important;
        display: block !important;
    }

    .frame-resp {
        display: flex !important;
        flex-direction: column;
        transform: translate(0px, 0px) !important;
    }

    .dole-back {
        width: 100%;
        height: 300px;
    }

    .dole-logo {
        position: absolute !important;
        top: -200px;
        width: 30%;
    }

    .signup-text {
        width: 70%;
    }

    .partner_cont {
        /* padding-top: 15px; */
        justify-content: flex-start;
    }

    .partner_cont h1 {
        font-size: 24px !important;
        font-weight: 400;
        text-align: start;
        width: 100%;
    }

    .partner_cont hr {
        height: 3px;
        width: 100px;
        border: none;
        background: #58A789;
        margin-left: 0;
    }

    .partner_text {
        color: #000 !important;
        text-align: start !important;
        line-height: 30px;
    }

    .heading.xl.white {
        color: #000;
    }

    .mb_20 {
        margin-bottom: 20px !important;
    }

    .m-0 {
        margin: 0 !important;
    }

    .grid_item:nth-child(6n + 1),
    .grid_item:nth-child(6n + 2),
    .grid_item:nth-child(6n + 3),
    .grid_item:nth-child(6n + 4) {
        width: 100% !important;
        margin-right: 0 !important;
        margin-bottom: 0;
        padding: 0;
    }

    .w-100 {
        width: 100% !important;
    }

    .resp-d-none {
        display: none !important;
    }

    .p-0 {
        padding: 0 !important;
    }

    .mr-0 {
        margin-right: 0 !important;
    }

    .mb-0 {
        margin-bottom: 0 !important;
    }

    .modal-1 {
        padding: 10px;
        width: 90vw !important;
    }

    .modal {
        padding: 0px !important;
    }

    #w-node-_78d475f3-8914-1927-1620-0e7f69dd6686-e53849ae {
        grid-column-end: 0 !important;
    }

    .modal-box {
        width: 95vw !important;
        top: 30% !important;
    }

    .modal-content {
        padding: 0 30px !important;
    }

    .imageVideoModal {
        height: 380px !important;
    }

    .lottie-resp {
        overflow: hidden;
        width: 90.9%;
    }

    .lottie-resp svg {
        transform: translate3d(-700px, 10px, 0) !important;
        height: 1350px !important;
        width: 2300px !important;
    }

    .partnership {
        position: relative;
        /* margin-bottom: 400px; */
    }

    .partnership-content {
        position: absolute;
        top: 300px;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        height: 600px !important;
    }

    .pt {
        height: 800px;
        background-color: #fff;
    }

    .beko_button.margin_b_35vh.margin_r_140px {
        margin-bottom: 20vw;
    }

    ul.social-icon-list {
        justify-content: space-evenly !important;
    }

    li.social-link {
        width: 40px !important;
        height: 40px !important;
    }

    li.social-link a {
        font-size: 15px;
    }

    .cont-body {
        flex-direction: row;
    }

    .for_mobile_resp {
        display: block !important;
        width: 100vw;
    }

    .modal-body {
        /* below height will change later */
        height: 407px !important;
        overflow-y: auto !important;
    }

    .mdl-text {
        margin-top: 20px !important;
        color: #000;
        font-size: 14px !important;
    }

    .grid_element {
        padding-top: 0 !important;
        background-color: none !important;
    }

    .modal_body_2 {
        width: 620px !important;
    }

    .modal_body_3 {
        width: 620px !important;
        margin-top: 30px !important;
        padding: 15px !important;
        height: 60vh !important;
    }

    .video_time iframe {
        height: 340px !important;
    }

    .modal-box {
        width: 620px !important;
    }

    .section_designer_tools {
        display: none;
    }

    /* .section.is--hero {
        height: 38rem;
    } */

    .sticky_video {
        position: relative;
        /* top: 185rem; */
    }

    .header_text-wrap div {
        transform: translate(0px, 0px) !important;
    }

    .menu-button.w--open {
        background-color: #fff !important;
        color: #000;
    }


    .icon_tittle {
        font-size: 16px !important;
    }

    .modal_post_btn {
        width: 100px !important;
        height: 30px !important;
        font-size: 10px !important;
    }

    .home_text_box {
        width: 70vw !important;
        height: 145px !important;
        padding-right: 10px !important;
        left: 9px !important;
        bottom: 8px !important;
    }

    .home_text_box h4 {
        font-size: 20px !important;
    }

    .home_text_box p {
        font-size: 14px !important;
    }

    .design_statement_content {
        flex-direction: column !important;
        height: auto !important;
    }

    .design_statement_text_slide {
        padding: 0 !important;
        margin-top: 20px;
    }

    .design_statement_content_2nd-heading h2 {
        text-align: center !important;
    }

    .design_statement_content_2nd-heading hr {
        margin-left: auto !important;
    }

    .card_wrapper {
        flex-wrap: wrap !important;
    }

    .card {
        flex-basis: 45% !important;
        margin-bottom: 15px !important;
    }

    .text_wrapper {
        font-size: 12px !important;
        line-height: 20px !important;
    }

    .body_grap_image {
        height: auto !important;
        margin-bottom: 60px !important;
        margin-top: 45px;
    }

    .design_statement_content_2nd {
        margin-bottom: 60px !important;
    }

    .work_Stations_top {
        height: auto !important;
    }

    .equipment_materials_wrapper {
        flex-direction: column !important;
    }

    .Work_setion_text_2 p {
        line-height: 30px !important;
    }

    .Work_setion_text_2 {
        margin-bottom: 15px !important;
    }

    .conclusion {
        margin-top: 60px !important;
        padding-bottom: 50px !important;
    }

    .arrow::before {
        right: -120px;
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        border: 2px solid #fff;
        border-left: none;
        border-top: none;
        top: 30px;
        transform: rotate(45deg);
        transition: transform 0.3s linear;
    }
}

@media (max-width:770px) {
    .footer-container {
        width: 100% !important;
        padding: 0 5%;
    }

    .wrapper_image_resp {
        width: 40%;
    }

    .footer-heading {
        flex-direction: column;
        padding-bottom: 0px !important;
    }

    .cont-body {
        flex-direction: column;
        text-align: center;
    }

    .wrapper-f {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .cont-body ul {
        padding-right: 0 !important;
    }

    .cont-body ul li a {
        font-size: 12px !important;
        color: #fff;
    }

    .cont-heading {
        text-align: center;
        margin-bottom: 10px !important;
        display: inline-block;
        margin-top: 25px;
        font-size: 18px !important;
    }

    .fh-left,
    .fh-middile,
    .fh-right {
        margin-bottom: 30px !important;
    }

    ul.social-icon-list {
        justify-content: space-evenly !important;
    }

    li.social-link {
        width: 40px !important;
        height: 40px !important;
    }

    li.social-link a {
        font-size: 15px;
    }

    .collapsible {
        cursor: pointer;
        border: none;
        text-align: left;
        outline: none;
    }

    .content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

}

@media (max-width:460px) {
    .news_signup_bottom {
        width: 100% !important;
        height: auto !important;
        display: block !important;
    }

    .dole-back {
        width: 100%;
        height: 300px;
    }

    .dole-logo {
        position: absolute !important;
        top: -220px;
        width: 70%;
    }

    .partner_cont {
        /* padding-top: 15px; */
        justify-content: flex-start;
    }

    #w-node-eace7050-deea-0550-b154-5c38baa8f7b0-e53849ae {
        grid-column-end: 1 !important;
    }

    .partner_cont h1 {
        font-size: 24px !important;
        font-weight: 400;
        text-align: start;
        width: 100%;
    }

    .signup-text {
        width: 100%;
    }

    .partner_cont hr {
        height: 3px;
        width: 100px;
        border: none;
        background: #58A789;
        margin-left: 0;
    }

    .partner_text {
        color: #000 !important;
        text-align: start !important;
    }

    .heading.xl.white {
        color: #000;
    }

    .mb_20 {
        margin-bottom: 20px !important;
    }

    .m-0 {
        margin: 0 !important;
    }

    .grid_item:nth-child(6n + 1),
    .grid_item:nth-child(6n + 2),
    .grid_item:nth-child(6n + 3),
    .grid_item:nth-child(6n + 4) {
        width: 100% !important;
        margin-right: 0 !important;
        margin-bottom: 0;
        padding: 0;
    }

    .w-100 {
        width: 100% !important;
    }

    .sticky-circle-cu {
        width: 350px !important;
        height: 350px !important;
        border-radius: 50%;
        overflow: visible;
    }

    .resp-d-none {
        display: none !important;
    }

    .p-0 {
        padding: 0 !important;
    }

    .mr-0 {
        margin-right: 0 !important;
    }

    .mb-0 {
        margin-bottom: 0 !important;
    }

    .modal-1 {
        padding: 10px;
        width: 90vw !important;
        height: auto !important;
    }

    .modal {
        padding: 0px !important;
    }

    .modal-box {
        width: 90vw !important;
        top: 45% !important;
    }

    .modal-content {
        padding: 0 30px !important;
    }

    .imageVideoModal {
        height: 260px !important;
    }

    .lottie-resp {
        overflow: hidden;
        width: 91%;
    }

    .lottie-resp svg {
        transform: translate3d(-780px, -200px, 0) !important;
        height: 1080px !important;
        width: 1920px !important;
    }

    .partnership {
        position: relative;
        /* margin-bottom: 400px; */
    }

    .partnership-content {
        position: absolute;
        top: 300px;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        height: 600px !important;
    }

    .pt {
        height: 800px !important;
        background-color: #fff;
    }

    .beko_button.margin_b_35vh.margin_r_140px {
        margin-bottom: 20vw;
    }

    .footer {
        overflow: hidden;
    }

    .footer-container {
        width: 100% !important;
        padding: 0 5%;
    }

    .footer-heading {
        flex-direction: column;
    }

    .cont-body {
        flex-direction: column !important;
        text-align: center;
    }

    .wrapper-f {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 0 !important;
    }

    .cont-body ul {
        padding-right: 0 !important;
    }

    .cont-body ul li a {
        font-size: 12px !important;
        color: #fff;
    }

    .cont-heading {
        text-align: center;
        margin-bottom: 10px !important;
        display: inline-block;
        margin-top: 25px;
        font-size: 18px !important;
    }

    .fh-left,
    .fh-middile,
    .fh-right {
        margin-bottom: 30px !important;
    }

    ul.social-icon-list {
        justify-content: space-evenly !important;
    }

    li.social-link {
        width: 40px !important;
        height: 40px !important;
    }

    li.social-link a {
        font-size: 15px;
    }

    .collapsible {
        cursor: pointer;
        border: none;
        text-align: left;
        outline: none;
    }

    .content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-out;
    }

    .middile-wrapper {
        padding: 0px 30px !important;
    }

    .item-resp-card {
        display: flex !important;
        position: relative !important;
        height: 900px !important;
        padding: 0 !important;
    }

    .background_image_resp {
        height: 300px !important;
        width: 100% !important;
        -o-object-fit: cover;
        object-fit: cover;
        background-position: center;
        background-size: cover;
    }

    .resp-overflow {
        overflow: hidden;
    }

    .frame-resp {
        display: flex !important;
        flex-direction: column !important;
    }

    .content-a-block-resp {
        position: absolute;
        width: 100vw;
        height: 600px;
        margin: 0;
        bottom: 0;
        background-color: #fff !important;
    }

    .resp-d-none {
        display: none;
    }

    .heading-resp {
        font-size: 18px !important;
        color: #00426A !important;
    }

    .content-resp {
        font-size: 16px !important;
        color: #00426A !important;
    }

    .content_block_resp {
        padding: 50px 30px 30px !important;
        justify-content: flex-start !important;
        /* display: flex; */
        align-items: center;
    }

    .color_background {
        background-image: none !important;
    }

    .pt-0 {
        padding-top: 0px !important;
    }

    .bg-igame-cont-resp {
        position: absolute;
        top: 10%;
        left: 10%;
        transform: none;
    }

    /* STICKY */
    .sticky-circle {
        padding-top: 0;
        overflow: visible;
        height: 350px;
    }

    .sticky-circle-cu {
        width: 350px !important;
        height: 350px !important;
        border-radius: 50% !important;
        overflow: visible;
    }

    .wrapper_image_resp {
        flex-direction: column !important;
        width: 85%;
    }

    .wrapper_image_resp img {
        width: 100% !important;
        height: 100% !important;
        padding: 0 !important;
    }

    .council_resp {
        display: flex !important;
        flex-direction: column !important;
        top: 100px;
        width: 90vw;
        margin: auto;
    }

    .sticky_circle_wrap_resp {
        background: #00426A;
    }

    .sticky_text_resp {
        display: flex;
        width: 80vw;
        flex-direction: column;
    }

    .stick_btn_resp {
        flex-direction: column !important;
    }

    .stick_btn_resp a {
        margin: 10px 0 !important;
    }

    .sticky_img_resp {
        width: 100%;
        height: 55rem;
    }

    .graient_n {
        width: 100%;
        background: none;
    }

    .sticky_heading_resp {
        color: #fff;
    }

    .pb-0 {
        padding-bottom: 0px !important;
    }

    .mobile_sticky_circle {
        display: block !important;
        top: 110px !important;
    }

    .sticky-circle_wrap {
        height: 160rem !important;
    }

    .modal-body {
        height: 65vh !important;
    }

    .grid_element {
        padding-top: 0 !important;
        background-color: none !important;
    }

    .section_sticky_content_resp {
        padding-bottom: 350px;
    }

    .header_text {
        padding-top: 90px;
        height: 350px;
        background: #00426a;
    }

    .container.is--header.p-0 {
        margin: 0;
    }

    .header_text-wrap div {
        transform: translate(0px, 0px) !important;
    }

    .section.is--hero {
        height: 58rem;
    }

    .sticky_video {
        top: 0rem !important;
    }

    .modal_body_2 {
        width: 90vw !important;
        margin-top: 120px !important;
        padding: 15px !important;
    }

    .modal_body_3 {
        width: 90vw !important;
        height: 90vh !important;
        margin-top: 30px !important;
        padding: 15px !important;
    }

    .video_time iframe {
        height: 170px !important;
    }

    .icon_tittle {
        font-size: 16px !important;
    }

    .modal_post_btn {
        width: 100px !important;
        height: 30px !important;
        font-size: 10px !important;
    }

    .home_text_box {
        width: 78vw !important;
        height: 145px !important;
        padding-right: 10px !important;
        left: 6px !important;
        bottom: 20px !important;
    }

    .home_text_box h4 {
        font-size: 20px !important;
    }

    .home_text_box p {
        font-size: 14px !important;
    }

    .design_statement_content {
        flex-direction: column !important;
    }

    .design_statement_text_slide {
        padding: 0 !important;
        margin-top: 20px;
    }

    .design_statement_content_2nd-heading h2 {
        text-align: center !important;
    }

    .design_statement_content_2nd-heading hr {
        margin-left: auto !important;
    }

    .card_wrapper {
        flex-wrap: wrap !important;
    }

    .card {
        flex-basis: 45% !important;
        margin-bottom: 15px !important;
    }

    .text_wrapper {
        font-size: 12px !important;
        line-height: 20px !important;
    }

    .body_grap_image {
        height: auto !important;
        margin-bottom: 60px !important;
        margin-top: 45px;
    }

    .design_statement_content_2nd {
        margin-bottom: 60px !important;
    }

    .work_Stations_top {
        height: auto !important;
    }

    .equipment_materials_wrapper {
        flex-direction: column !important;
    }

    .Work_setion_text_2 p {
        line-height: 30px !important;
    }

    .Work_setion_text_2 {
        margin-bottom: 15px !important;
    }

    .conclusion {
        margin-top: 60px !important;
        padding-bottom: 50px !important;
    }

    .arrow::before {
        right: -15px !important;
    }
}